@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700&family=Merriweather+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #F2F2F2;
	min-height: 100vh;
	scroll-behavior: smooth;
}