@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;900&family=Merriweather+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
	background-color: #F2F2F2;
	min-height: 100vh;
	scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.html-insert a {
  @apply underline
}

.html-insert h2 {
  @apply text-3xl
}

.html-insert ul {
  list-style-type: disc;
  list-style-position: inside;
}